#process-main section .business_wrap,
#process-main section .process_wrap {
    margin-top: 50px;
}

#process-main .section_business .business_wrap .business_lists,
#process-main .section_process .process_wrap .process_lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#process-main .section_business .business_wrap .business_lists li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 260px;
    height: 378px;
    background-color: #383838;
    border-radius: 10px;
}

#process-main .section_business .business_wrap .business_lists li img,
#process-main .section_process .process_wrap .process_lists li img {
    height: 136px;
}

#process-main
    .section_business
    .business_wrap
    .business_lists
    li
    .business_txt_wrap {
    margin-top: 30px;

    text-align: center;
}

#process-main
    .section_business
    .business_wrap
    .business_lists
    li
    .business_txt_wrap
    h3 {
    margin-bottom: 30px;

    font-size: 18px;
    color: #d8a948;
}

#process-main
    .section_business
    .business_wrap
    .business_lists
    li
    .business_txt_wrap
    p {
    font-size: 15px;
    color: #ccc;
    line-height: 30px;
    letter-spacing: 2px;
}

#process-main .section_process {
    margin: 200px 0 160px;
}

#process-main .section_process .process_wrap .process_lists li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30%;
}

#process-main .section_process .process_wrap .process_lists li .process_img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 160px;
    background-color: #383838;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#process-main
    .section_process
    .process_wrap
    .process_lists
    li
    .process_img
    img {
    /* padding: 20px 0; */
}
